.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-wrapper {
  margin-bottom: 20px;
}

.popJustify {
  display: flex;

  justify-content: space-between;
}
